{% extends "layout.html" %}

{% block title %}
    About Fly Low
{% endblock %}

{% block main %}
    <div class="webpage-heading">
        <h1>About Us</h1>
        <h3>Our mission for more sustainable travel, led by students</h3>
    </div>

    <div>
        <h4>We're here to change how students travel.</h4>
        <p> Each year, over a million American students will flock to crowded beaches across the country for Spring Break. This figure doesn't even
        include the millions of student trips that occur over other holidays and school breaks. With destinations like South Padre, TX or 
        Myrtle Beach, SC, seeing thousands of student visitors, local communities end up being overwhelmed by the pollution and waste produced. 
        And this doesn't even include the tons of carbon emissions produced by students who must fly to those destinations. </p>
        
        <p>So why are these locations so popular? Perhaps because so many students flock to them, because they occupy a large place in American pop culture, because 
        college friends are eager to jump on the bandwagon and follow their friends across the country. </p>

        <p> What if we could challenge that notion of what Spring Break should be, of what the best vacation spots are?
            We're here to challenge that, by suggesting affordable, less carbon-emitting trip alternatives for students, personalized based on their dates 
            and location. Sustainability lies at the heart of our work, with our algorithm constructed with environmentally-friendly travel in mind.
        </p>

        <h4>Our goal is to inform with ease.</h4>
        <p> While airline carriers and services like Google Flights may provide data on emissions, no website aggregates all this data in a single place,
            allowing for easy comparison and the inclusion of only the most sustainable trips. Students don't have to do any extra work or comparison through 
            multiple sites to find the most accessible and sustainable trips -- a single search on Fly Low will connect them to their best options.
        </p>

        <h4>We're a group of students, specifically building for other students like us.</h4>
        <p>
            What makes traveling as a college student different from traveling as anyone else? Students uniquely have long breaks -- often a week or longer --
            granting them extra flexibility to travel to different places and on a variety of dates. They're also often cost-conscious, willing to take on longer layovers
            or fly budget carriers for their trips.
        </p>
    </div>

{% endblock %}