{% extends "layout.html" %}

{% block title %}
    Flights
{% endblock %}

{% block main %}
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Origin</th>
            <th scope="col">Destination</th>
            <th scope="col">Price</th>
            <th scope="col">Airline</th>
            <th scope="col">Carbon Emissions</th>
          </tr>
        </thead>
        <tbody>
        {% for flight in flights %}
            <tr>
                <td>{{flight["origin"]}}</td>
                <td>{{flight["destination"]}}</td>
                <td>{{flight["value"]}}</td>
                <td>{{flight["airline"]}}</td>
                <td>{{flight["carbon_emissions"]}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}


  
  